body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: white
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  color: red
}
a:hover {
  color: #ff9494
}
b {
  color: orange
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(117, 102, 12);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(245, 144, 12);
}

.active {
  background-color: rgb(241, 12, 12);
}

.green {
  background-color: rgb(34, 177, 34)
}

label {
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
}

.pets {
  color: orange
}

.navlink {
  font-size: 22px;
}

.selected {
  color: lightblue;
}

.selectednavlink {
  font-size: 22px;
  color: lightblue;
}

.special {
  color: yellow;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: black;
  color: orange;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #606060;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: #202020;
  
}

.warning {
  color: red;
}

.greentext {
  color: limegreen;
  padding-top: 0px;
  size: 4px;
  line-height: 11px;
}

.caution {
  color: yellow;
  padding-top: 0px;
  size: 4px;
  line-height: 11px;
}

.downloadlink {
  color: orange;
  font-size: 21px;
  background-color: #404040;
  outline-width: 1px;
  border-width: 0px;
}

.downloadlink:hover {
  background-color: dimgray;
  color: yellow;
}

img {
  padding-top: 14px;
}

.desc {
  font-size: 20px;
}

.modnav {
  background-color: #303030;
  padding: 5px;
}

.heading {
  line-height: 21px;
}